img[alt="logo"] {
    height: 200px;
    border-radius: 50%;
}

.sidebar .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .app-name-link {
    display: block;
    width: 40px;
    height: 40px;
    color: transparent !important;
    background: url('/images/avatar.png') no-repeat;
    background-size: 100%;
    border-radius: 50%;

}

#tom span {
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 10px;
}

/* ① 全局：保留滚动能力但隐藏滚动条（Chrome/Edge/Safari/Opera） */
*::-webkit-scrollbar {
    width: 0;
    /* 垂直滚动条宽度为 0 */
    height: 0;
    /* 水平滚动条高度为 0 */
}

*::-webkit-scrollbar-thumb {
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

/* ② Firefox：彻底隐藏滚动条 */
* {
    scrollbar-width: none;
    /* 隐藏 */
    scrollbar-color: transparent transparent;
    /* 保险起见 */
}

/* ③ 旧版 Edge/IE（如果还需要兼容） */
* {
    -ms-overflow-style: none;
}