img[alt="logo"] {
    height: 200px;
    border-radius: 50%;
}

.sidebar .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .app-name-link {
    display: block;
    width: 40px;
    height: 40px;
    color: transparent !important;
    background: url('/images/avatar.png') no-repeat;
    background-size: 100%;
    border-radius: 50%;

}

#tom span {
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 10px;
}

/* WebKit: Chrome / Edge / Safari */
html::-webkit-scrollbar {
    width: 8px;
    /* 宽度随便设，用户不可见 */
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background: transparent;
    /* 滚动条透明 */
}

html::-webkit-scrollbar-track {
    background: transparent;
    /* 滚动轨道透明 */
}

/* Firefox */
html {
    scrollbar-width: thin;
    /* 固定窄条 */
    scrollbar-color: transparent transparent;
    /* 滚动条透明 */
}