.post-title {
    font-size: 30px;
}
.post-content h2 {
    font-size: 24px;
}

/* @font-face {
    font-family: 'ZCOOLKuaiLe';
    src: url('/notes/fonts/ZCOOLKuaiLe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ZCOOLQingKeHuangYou';
    src: url('/notes/fonts/ZCOOLQingKeHuangYou-Regular.ttf') format('truetype');
} */

@font-face {
    font-family: 'CustomFont';
    /* src: url('/fonts/ConsolaMono-Bold.ttf') format('truetype')  */
    /* src: url('/fonts/Roboto-Regular.ttf') format('truetype') */ 
    /* src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype') */
    /* src: url('/fonts/ZCOOLKuaiLe-Regular.ttf') format('truetype') */
    /* src: url('/fonts/monaco.ttf') format('truetype') */
    /* src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype') */
    /* src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype') */
    src: url('/fonts/Hack-Regular.ttf') format('truetype')
}

* {
    font-family: 'CustomFont' !important;
}
 
/* .highlight *, .logo *, #menu * {
    font-family: 'Arial' !important;
} */