.full-image.full-image.full-image {
    border: none;
    max-width: 100%;
    width: auto;
    margin: 20px auto;
}

@media (min-width: 992px) {
    .full-image.full-image.full-image {
        max-width: none;
        width: 118%;
        margin: 0 -9%;
    }
}